



@media screen and (min-width: 480px) {

    /********************
    HEADER

    ********************/

    .logo-image{
        max-width: 150px;
    }

    /********************
    TWO COLUMN LAYOUT

    ********************/

    /*
    #primary {
        width: 50%;
        float: left;
    }

    #secondary {
        width: 40%;
        float: right;
    }
    */

    /********************
    PAGE: LOGIN

    ********************/

    #logincontainer {
        background: #F5F3EB;
    }

    #logincard {
        width: 400px;
        height: 500px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        background: #FFF;
        border: 5px solid #849852;
    }

    /********************
    PAGE: COURSES

    ********************/

    /*Courses*/


    .button-alist li{
        float: left;
        display: block;
        width: 20%;
        margin: 2.5%;

    }

    .button-alist a {
        font-size: 1.5em;
    }

    /*Menu*/


    /*
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    */

    /********************
    PAGE: ABOUT

    ********************/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }

    div.faq p {
        margin-left: 2.5%;
    }

}





@media screen and (min-width: 660px) {

    /********************
    GENERAL

    ********************/

    h2{
        font-size: 2em;
        /*margin-bottom: 20px;*/
    }

    input, button {
        min-height: 0;
        min-width: 0;
        padding: 5px;
    }

    button {
        /*margin: 3px;*/
        padding: 10px 15px;
    }

    button:hover, button:focus {
        font-weight: bold;
        outline: none;
        /*margin: 0;
        border: 3px solid #A00005;*/
        transform: scale(1.1);
        transition-duration: 0.1s;
    }

    button:active {
        background: #6A0003;
        color: #FFCACB;
        /*border: none;*/
        transform: scale(1);
    }

    input:focus, input:hover {
        outline: none;
        border-width: 5px;
        /*margin: 0;*/
        transition-duration: 0.1s;
    }






    /********************
    HEADER

    ********************/
    nav {

        background: none;
        float: right;
        vertical-align: bottom;
        font-size: 1.125em;
        text-align: right;
        width: 45%;
        margin-right: 5%;

    }

    #logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }

    h1{
        font-size: 2.5em;
    }

    header{
        margin-bottom: 60px;
        border-bottom: 5px solid #599a68;
    }



    /********************
    PAGE: COURSES

    ********************/

    /*Courses*/



    /*
    #course-created li, #course-registered li {
        margin: 50px 0;
    }

    #course-created a, #course-registered a {
        font-size: 2em;
    }
    */

    .button-alist a:hover {
        font-weight: bold;
        outline: none;
        padding: 18px 13px;
        transition-duration: 0.1s;
    }

    .button-alist a:active {
        background: #E09514;
        color: #FFE6C0;
        padding: 15px 10px;
    }



    /********************
    QUIZ QUESTIONS

    ********************/

    .quizquestion {
        display: block;
    }

    .quizquestion label:hover {
        font-weight: bold;
        outline: none;
        padding: 18px 13px;
        transition-duration: 0.1s;
    }

    .quizquestion label:active {
        background: #637733;
        color: #EBF4D8;
        padding: 15px 10px;
    }

}