



@media screen and (min-width: 480px) {

    /********************
    HEADER

    ********************/

    .logo-image{
        max-width: 150px;
    }

    /********************
    TWO COLUMN LAYOUT

    ********************/

    /*
    #primary {
        width: 50%;
        float: left;
    }

    #secondary {
        width: 40%;
        float: right;
    }
    */

    /********************
    PAGE: COURSES

    ********************/

    /*Courses*/

    #course-created li, #course-registered li {
        margin: 30px 0;
    }

    #course-created a, #course-registered a {
        font-size: 1.5em;
    }

    /*Menu*/


    /*
    #gallery li {
        width: 28.3333%;
    }
    #gallery li:nth-child(4n) {
        clear: left;
    }
    */

    /********************
    PAGE: ABOUT

    ********************/
    .profile-photo {
        float: left;
        margin: 0 5% 80px 0;
    }

    div.faq p {
        margin-left: 2.5%;
    }

}





@media screen and (min-width: 660px) {

    /********************
    GENERAL

    ********************/

    input, button {
        min-height: 0;
        min-width: 0;
        padding: 5px;
    }

    button {
        /*margin: 3px;*/
        padding: 10px 15px;
    }

    button:hover, button:focus {
        font-weight: bold;
        outline: none;
        /*margin: 0;
        border: 3px solid #A00005;*/
        transform: scale(1.1);
        transition-duration: 0.1s;
    }

    button:active {
        background: #6A0003;
        color: #FFCACB;
        /*border: none;*/
        transform: scale(1);
    }

    input:focus, input:hover {
        outline: none;
        border-width: 5px;
        /*margin: 0;*/
        transition-duration: 0.1s;
    }

    /********************
    HEADER

    ********************/
    nav {
        clear: none;
        background: none;
        float: right;
        font-size: 1.125em;
        text-align: right;
        width: 45%;
        position: fixed;
        right: 5%;
        top: 89px;
    }

    #logo{
        float: left;
        margin-left: 5%;
        text-align: left;
        width: 45%;
    }

    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 0.825em;
        margin-bottom: 20px;
    }
    header{
        margin-bottom: 60px;
        position: fixed;
        top: 0;
    }

    .spacer {
        width: 100%;
        height: 200px;
    }

    /********************
    PAGE: COURSES

    ********************/

    /*Courses*/

    #course {
        display: block;
        float: left;
    }

    #course-created li, #course-registered li {
        margin: 50px 0;
    }

    #course-created a, #course-registered a {
        font-size: 2em;
    }

    #course-created a:hover, #course-registered a:hover {
        font-weight: bold;
        outline: none;
        border: 3px solid #A00005;
        transition-duration: 0.1s;
    }

    #course-created a:active, #course-registered a:active {
        background: #6A0003;
        color: #FFCACB;
        border: none;
    }

    /*Menu*/

    #menu {
        display: block;
        float: right;
        padding: 5px 50px 25px 25px;
        border: 3px solid #F0B04A;
        position: fixed;
        top: 200px;
        right: 5%;
    }

}