
<!--
html for the about/info page


-->

<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

    <head th:replace="layout :: head('about')">
    </head>

    <body>

        <header th:replace="layout :: header">

        </header>


        <div id="wrapper">
            <section>

                <div class="faq">
                    <h3 style="color: black;">About ChiliPrepper</h3>
                    <p>ChiliPrepper is cool and you should use it every day</p>
                </div>

                <div class="faq">
                    <h3 style="color: black;">About us</h3>
                    <p>ChiliPrepper was created as part of a software development course at the Norwegian University of Science and Technology (NTNU).</p>
                    <p>The team consists of 4 students.</p>
                </div>

                <div class="faq">
                    <h3 style="color: black;">Contact</h3>
                    <p></p>
                </div>

                <div class="faq">
                    <h3 style="color: black;">FAQ</h3>
                    <p></p>
                </div>

            </section>

            <footer th:replace="layout :: footer">
            </footer>
        </div>
    </body>

</html>