<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('course')">

</head>

<body>

<header th:replace="layout :: header">

</header>

<div class="spacer"></div>

<div id="wrapper">
    <section>

        <div th:replace="layout :: flash"></div>
        <!-- FOR COURSE CREATORS -->

    <div th:if="${userId} == ${creatorId}">

    <h1 th:text="${course.courseName}" style="color: black;"></h1>
        <h1><a th:href="@{|/courses/${course.id}/chart|}">View course results:</a></h1>
        <div>
            <h3>Form for creating a quiz</h3>
            <form th:action="@{/addQuiz}" th:object="${quiz}" method="post">

                <label><input type="text" th:field="*{quizName}" placeholder="Quiz name"/></label>
                <label><input type="hidden" name="courseId" th:value="${course.id}"/></label>
                <button type="submit" class="button">Add</button>
            </form>
        </div>


        <div>
            <h3>Quizes</h3>
            <div th:each="quiz : ${myQuizes}">
                <div>
                    <a th:href="@{|/courses/${course.id}/${quiz.id}|}"><h2 th:text="${quiz.quizName}" style="color: black">Text text</h2></a>

                    <div th:if="${quiz.published} == true">
                        <form th:action="@{/publishQuiz}" method="post">
                            <input type="hidden" name="quizId" th:value="${quiz.id}"/>
                            <button type="submit" class="button">Unpublish</button>
                        </form>
                    </div>

                    <div th:if="${quiz.published} == false">
                        <form th:action="@{/publishQuiz}" method="post">
                            <input type="hidden" name="quizId" th:value="${quiz.id}"/>
                            <button type="submit" class="button" style="background-color: #7f9e40">Publish</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>

        <!-- FOR COURSE CREATORS -->



        <!-- FOR COURSE PARTICIPANTS -->

        <div th:if="${userId} != ${creatorId}">

            <h1 th:text="${course.courseName}" style="color: black;"></h1>

            <div>
                <h2>Current points: <span th:text="${score}"></span> of <span th:text="${maxScore}"></span> </h2>

            </div>



            <div>
                <h3>Quizes</h3>
                <div th:each="quiz : ${myQuizes}">
                    <div th:if="${quiz.published} == true">

                        <a th:href="@{|/courses/${course.id}/${quiz.id}/quiz|}"><h2 th:text="${quiz.quizName}" style="color: black">Text text</h2></a>

                    </div>
                </div>
            </div>

        </div>

        <!-- FOR COURSE PARTICIPANTS -->



    </section>

    <footer th:replace="layout :: footer">

    </footer>
</div>
</body>

</html>