<!--
html for a editing a quiz's name


-->

<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('editQuiz')">

</head>

<body>

<header th:replace="layout :: header">

</header>

<div id="wrapper">
    <section>


        <div th:replace="layout :: flash"></div>

        <h1 class="pageTitle" th:text="${quiz.quizName}"></h1>
        <div class="form-style-5">
            <form th:action="@{|/courses/${course.id}/${quiz.id}/editName|}"  method="post">
                <fieldset>
                    <label><input type="hidden" name="quizId" th:value="${quiz.id}"/></label>
                    <label><input type="hidden" name="courseId" th:value="${course.id}"/></label>

                    <legend><span class="number">?</span> Make changes </legend>
                    <label>Quiz name <input type="text" name="quizName" th:value="${quiz.quizName}"/></label>
                </fieldset>
                <input type="submit" value="Save changes" />
            </form>
        </div>

    </section>

    <footer th:replace="layout :: footer">

    </footer>
</div>
</body>
</html>