<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head('courses')">

</head>

<body>

<header th:replace="layout :: header">

</header>

<div id="wrapper">
    <section>
        <div>
            <a href="/add" style="font-size: 30px;">+</a>


        </div>


        <div>
            <h3>Form for creating course</h3>
            <form th:action="@{addCourse}" th:object="${course}" method="post">

                <label><input type="text" th:field="*{courseName}" placeholder="Course name"/></label>
                <label><input type="text" th:field="*{accessCode}" placeholder="access code"/></label>
                <button type="submit" class="button">Add</button>
            </form>


        </div>




        <div>
            <h3>List of created courses</h3>
            <div th:each="course : ${myCourses}">
                <div>

                    <a th:href="@{|/courses/${course.id}|}"><h2 th:text="${course.courseName}" style="color: black">Text text</h2></a>
                </div>
            </div>


        </div>



        <div>
            <h3>Form for registering in a course</h3>
            <form th:action="@{regCourse}" method="post">

                <label><input type="text" name="accessCode" placeholder="Enter accessCode"/></label>

                <button type="submit" class="button">Register</button>
            </form>


        </div>



        <div>
            <h3>List of registered courses</h3>
            <div th:each="course : ${regCourses}">
                <div>

                    <a th:href="@{|/courses/${course.id}|}"><h2 th:text="${course.courseName}" style="color: black">Text text</h2></a>
                </div>
            </div>


        </div>




        <ul id="gallery">

            <li>
                <a href="">
                    <img th:src="@{http://placehold.it/350x350}" alt=""/>
                    <p>Objektorientert programmering</p>
                </a>
            </li>

            <li>
                <a href="">
                    <img th:src="@{http://placehold.it/350x350}" alt=""/>
                    <p>ITGK.</p>
                </a>
            </li>
            <li>
                <a href="img/number-06.jpg">
                    <img th:src="@{http://placehold.it/350x350}" alt=""/>
                    <p>Datamodellering og databasersystemer</p>
                </a>
            </li>
            <li>
                <a href="img/number-09.jpg">
                    <img th:src="@{http://placehold.it/350x350}" alt=""/>
                    <p>Menneske-maskin interaksjon</p>
                </a>
            </li>
            <li>
                <a href="img/number-12.jpg">
                    <img th:src="@{http://placehold.it/350x350}" alt=""/>
                    <p>Siste eksempel</p>
                </a>
            </li>
        </ul>

    </section>

    <footer th:replace="layout :: footer">

    </footer>
</div>
</body>

</html>