<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(page_title)">
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,400i|Open+Sans:400,400i,700,700i,800" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="'ChiliPrepper | ' + ${page_title}">ChiliPrepper | Prototype</title>

</head>




<body>

<header th:fragment="header">
    <a th:href="@{/}" id="logo">
        <img th:src="@{/img/LogoLiten.png}" alt="ChiliPrepper logo" id="navbarLogo"/>
    </a>
    <nav>
        <ul>
            <li><a th:href="@{/}">Courses</a></li>
            <li><a th:href="@{/about}">About</a></li>
            <li><a th:href="@{/profile}">Settings</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>
    </nav>
</header>

<div th:fragment="flash" th:if="${flash != null}" class="container">
    <div th:classappend="${#strings.toLowerCase(flash.status)}" th:text="${flash.message}" class="flash"></div>
</div>



<footer th:fragment="footer">

    <p>&copy; 2017 ChiliPrepper</p>

</footer>


</body>

</html>