<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(page_title)">
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Changa+One:400,400i|Open+Sans:400,400i,700,700i,800" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="'Chiliprepper | ' + ${page_title}">ChiliPrepper | Prototype</title>

</head>

<body>

<header th:fragment="header">
    <a th:href="@{/}" id="logo">
        <h1>ChiliPrepper</h1>
        <h2>Logo</h2>
    </a>
    <nav>
        <ul>
            <li><a th:href="@{/}"  class="selected">Courses</a></li>
            <li><a href="about.html">Profile</a></li>
            <li><a href="contact.html">Info</a></li>
        </ul>
    </nav>
</header>


<footer th:fragment="footer">

    <a href="https://www.facebook.com/andreas.nordby.39">
        <img src="img/facebook-wrap.png" alt="Facebook Logo"  class="social-icon"/>
    </a>
    <p>&copy; 2017 ChiliPrepper</p>

</footer>


</body>

</html>