<!--
html for the login page


-->

<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('Login')"></head>
<body>


<div id="wrapper">
    <section>
        <div th:replace="layout :: flash"></div>


        <div class="form-style-5">
            <div id="logintitle">
                <h1>ChiliPrepper</h1>
            </div>
            <div id="loginlogo">
                <img th:src="@{/img/LogoLiten.png}" alt="ChiliPrepper logo" class="logo-image"/>
            </div>

            <form th:action="@{/login}" th:object="${user}" method="post" class="login">
                <fieldset>
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="text" th:field="*{username}" placeholder="Username *"/>
                    <input type="password" th:field="*{password}" placeholder="Password *"/>
                </fieldset>
                <input type="submit" value="Log in" />
            </form>
            <h4><a href="/register">Create an account</a></h4>


        </div>




    </section>


</div>



<div th:replace="layout :: scripts"></div>
</body>
</html>