

<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head('quiz')">
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Changa+One:400,400i|Open+Sans:400,400i,700,700i,800" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="'Chiliprepper | ' + ${page_title}">ChiliPrepper | Prototype</title>

    <script th:src="@{/js/jquery-min-1.9.1.js}" type="text/javascript"></script>

    <script type="text/javascript"  th:inline="javascript">

        /*<![CDATA[*/

        var quizId = [[${quiz.id}]];


        $(document).ready(function(){
            var url = '/quizChart/' + quizId;
            $("#quizChart").load(url);

            setInterval(function () {
                var url = '/quizChart/' + quizId;

                $("#quizChart").load(url)


            }, 2000);
        });
        /*]]>*/

    </script>


</head>

<body>

<!--<header th:replace="layout :: header"></header>
-->



<header th:replace="layout :: header">

</header>


<div id="wrapper">
    <section>


        <!-- FOR QUIZ CREATORS -->

        <div th:if="${userId} == ${creatorId}">
            <h3 th:text="${quiz.quizName}"></h3>
            <form th:action="@{|/courses/${course.id}/${quiz.id}/editQuiz|}" method="get">
                <input type="hidden" name="quizId" th:value="${quiz.id}"/>
                <button type="submit" class="button">Edit</button>
            </form>

            <div>
                <form th:action="@{/addQuestion}" th:object="${newQuestion}" method="post">
                    <label><input type="text" th:field="*{theQuestion}" placeholder="Ask the question"/></label>
                    <label><input type="text" th:field="*{topic}" placeholder="topic"/></label>
                    <label><input type="text" th:field="*{correctAnswer}" placeholder="Correct Answer"/></label>
                    <label><input type="text" name="alt1" placeholder="Alternative 1"/></label>
                    <label><input type="text" name="alt2" placeholder="Alternative 2"/></label>
                    <label><input type="text" name="alt3" placeholder="Alternative 3"/></label>
                    <label><input type="hidden" name="quizId" th:value="${quiz.id}"/></label>
                    <button type="submit" class="button">Add new question</button>
                </form>
            </div>





            <div th:each="question : ${questions}">
                <div>

                    <a th:href="@{|/courses/${course.id}/${quiz.id}/${question.id}|}"><h2 th:text="${question.theQuestion}" style="color: black">Text text</h2></a>
                </div>
            </div>
        </div>






        <div id="quizChart">

        </div>





    </section>

    <footer th:replace="layout :: footer">

    </footer>
</div>
</body>
</html>