

<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head('quiz')">
    <meta charset="utf-8"/>
    <link rel="stylesheet" th:href="@{/css/normalize.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Changa+One:400,400i|Open+Sans:400,400i,700,700i,800" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/responsive.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title th:text="'Chiliprepper | ' + ${page_title}">ChiliPrepper | Prototype</title>



</head>

<body>

<!--<header th:replace="layout :: header"></header>
-->



<header th:replace="layout :: header">

</header>

<div class="spacer"></div>

<div id="wrapper">
    <section>
        <div th:replace="layout :: flash"></div>


        <!-- FOR QUIZ CREATORS -->

        <div th:if="${userId} == ${creatorId}">




            <div>
                <h1 th:text="${quiz.quizName}" style="color: black; float: left;"></h1>
                <a class="chartLink" th:href="@{|/courses/${course.id}/${quiz.id}/chart|}">
                    <img th:src="@{/img/chart-icon-color.png}"/>
                    <p>View live quiz results:</p>
                </a>
            </div>


            <form th:action="@{|/courses/${course.id}/${quiz.id}/editQuiz|}" method="get">
                <input type="hidden" name="quizId" th:value="${quiz.id}"/>
                <button type="submit" class="button">Edit</button>
            </form>






            <div>
                <h3>Questions in this quiz</h3>
                <ul class="gallery"  th:each="question : ${questions}">

                    <li>
                        <a th:href="@{|/courses/${course.id}/${quiz.id}/${question.id}|}">
                            <img th:src="@{/img/placeholder.png}"/>
                            <p th:text="${question.theQuestion}"></p>

                        </a>
                    </li>


                </ul>
            </div>


            <div class="form-style-5">
                <form th:action="@{/addQuestion}" th:object="${newQuestion}" method="post">
                    <fieldset>
                        <legend><span class="number">+</span> Create new question</legend>
                        <input type="text" th:field="*{theQuestion}" placeholder="Ask the question"/>
                        <input type="text" th:field="*{topic}" placeholder="topic"/>
                        <input type="text" th:field="*{correctAnswer}" placeholder="Correct Answer"/>
                        <input type="text" name="alt1" placeholder="Alternative 1"/>
                        <input type="text" name="alt2" placeholder="Alternative 2"/>
                        <input type="text" name="alt3" placeholder="Alternative 3"/>
                        <input type="hidden" name="quizId" th:value="${quiz.id}"/>
                    </fieldset>

                    <input type="submit" value="Add question" />
                </form>
            </div>



        </div>










    </section>

    <footer th:replace="layout :: footer">

    </footer>
</div>
</body>
</html>