<!--
html for the registration page


-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head('register')"></head>


<body>



<div id="wrapper">
    <section>
        <div th:replace="layout :: flash"></div>


        <div class="form-style-5">
            <div id="loginlogo">
                <img th:src="@{/img/LogoLiten.png}" alt="ChiliPrepper logo" class="logo-image"/>
            </div>

            <form th:action="@{/register}" th:object="${user}" method="post">
                <fieldset>
                    <legend><span class="number">!</span> Registration form</legend>
                    <input type="text" th:field="*{username}" placeholder="Username *"/>
                    <input type="password" th:field="*{password}" placeholder="Password *"/>
                    <input type="email" th:field="*{email}" placeholder="email@example.com *"/>
                </fieldset>
                <input type="submit" value="Register" />

            </form>
            <h4><a href="/login">Return to login page</a></h4>


        </div>


    </section>


</div>




<div th:replace="layout :: scripts"></div>
</body>
</html>